.main__container {
    border-top: 1px solid #3498ff;
    background: linear-gradient(#3498ff 0, #232222 8px);
    height: 10%;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    border-radius: 50%;
    background: #3c4043;
    width: 40px;
    height: 40px;
    margin: 13px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cpy__icon {
    color: white;
    border-radius: 10px;
    background: #3c4043;
    width: fit-content;
    height: 40px;
    padding: 0 10px;
    margin: 13px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.major__icon {
    border-radius: 10px;
    width: 40px;
    position: absolute;
    left: 0;
}

.major__icon:hover {
    border: 2px solid #ea4335;
}

.active__icon {
    background-color: #ea4335;
}

.disabled__icon {
    pointer-events: none;
    opacity: 0.3;
}
